*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 23, 90);
    padding: 10px 200px;
    border-bottom: 4px solid #1A1244;
}
nav ul{
    display: flex;
   
}
nav ul li{
    list-style: none;
    margin: 10px 6px;
}
nav ul li a{
    text-decoration: none;
    transition: 0.5s;
    padding: 10px 20px;
}
nav ul li a:hover{
    background-color: black;
    color: rgb(28, 93, 28);
    border-radius: 10px;
}


nav div{
    color: white;
    font-size: 20px;
}
nav ul li a{
    color: white;
    font-size: 25px;
}

/* hero area code here */

.searchicon-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background-image: url(images/website\ banner.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
.searchicon-parent i{
    font-size: 20px;
   height: 30px;
   width: 40px;
    color: rgb(19, 91, 91);
    background-color: rgb(9, 69, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.searchicon-parent input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
}

/* main area code area */

main{
    background-color: #1A1244;
    padding-top: 20px;
}
.main-section{
    width: 1100;
    margin: auto;
    padding: 20px 0;
  
}
.latest-videos{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    color: white;
    font-weight: 20px;
    font-size: 20px;
    
}
.videos-number h4 span{
        color: aqua;
        background-color: black;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
}
.single-card-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 30px;
    margin-top: 60px;

}
.single-iteam{
    height: 300px;
}
.single-iteam img{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.single-iteam:hover img{
    transform: scale(1.1);
}

.single-iteam div{
    display: flex;
    justify-content: space-between;
    color: green;
    margin-top: 5px;
    font-size: 30px;
}
