*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 23, 90);
    padding: 10px 200px;
    border-bottom: 4px solid #1A1244;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
   
}
nav ul li{
    list-style: none;
    margin: 10px 6px;
}
nav ul li a{
    text-decoration: none;
    transition: 0.5s;
    padding: 10px 20px;
}
nav ul li a:hover{
    background-color: black;
    color: rgb(28, 93, 28);
    border-radius: 10px;
}


nav div{
    color: white;
    font-size: 20px;
}
nav ul li a{
    color: white;
    font-size: 25px;
}
form{
    width: 800px;
    margin: 100px auto;
    background-color: rgb(99, 60, 67);
    padding: 60px 0;
    box-shadow: 10px 10px 10px 10px gray;
}
form h2{
    font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.name-email-parent input{
    display: block;
    margin: 20px auto;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    
}

form textarea{
    display: block;
    margin:30px auto ;
    width: 400px;
    border-radius: 20px;
    padding: 20px 20px;
}
form .submit-btn{
    display: block;
    margin: 40px auto;
    width: 400px;
    height: 40px;
    border-radius: 20px;
   background-color: rgb(47, 124, 124);
   font-size: 20px;
   transition: 0.5s;
   cursor: pointer;
    
}
form .submit-btn:hover{
    background-color: rgb(29, 94, 29);
}